.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-height {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.col-2,
.col-11 {
    padding: 0px;
}

.component-height {
    min-height: 91.5vh !important;
}

.navigation {
    height: 50px;
    background-color: aqua;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.App-link {
    color: #09d3ac;
}